trigger:
  - main

pool:
  name: "cloud-matrix-org-runner-pool"

variables:
  nodeVersion: '18.x'

stages:
  - stage: Build
    displayName: 'Build Stage'
    jobs:
      - job: BuildAndTest
        displayName: 'Build and Test'
        steps:
          - task: NodeTool@0
            inputs:
              versionSpec: $(nodeVersion)
            displayName: 'Install Node.js'

          - script: npm install
            displayName: 'Install dependencies'

          - script: npm test
            displayName: 'Run tests with coverage'

          - task: PublishCodeCoverageResults@2
            inputs:
              summaryFileLocation: '$(System.DefaultWorkingDirectory)/coverage/cobertura-coverage.xml'
              failIfCoverageEmpty: false
            displayName: 'Publish code coverage'
            condition: succeededOrFailed()

          - task: PublishTestResults@2
            inputs:
              testResultsFormat: 'JUnit'
              testResultsFiles: '$(System.DefaultWorkingDirectory)/coverage/junit.xml'
              failTaskOnFailedTests: true
            displayName: 'Publish test results'
            condition: succeededOrFailed()


  - stage: Security
    displayName: 'Security Scanning'
    dependsOn: Build
    condition: succeeded()
    jobs:
      - job: DependencyScan
        displayName: 'Dependency Vulnerability Scan'
        steps:
          - task: NodeTool@0
            inputs:
              versionSpec: $(nodeVersion)
            displayName: 'Install Node.js'

          - script: npm install
            displayName: 'Install dependencies'

          - script: npm audit --production
            displayName: 'Run security audit'
            continueOnError: true
